<!-- <aside class="aside">
    <div class="dashboard-menu-container">
        <div style="background-color: #F1F1F1;" class="left-container">
            <div>
                <div class="nav-heading">
                    Prep-Ease
                </div>
                <div style="display: flex;" class="left-top-container">
                    <span><img class="profile-icon" src="../../../../assets/images/profile-icon.png" alt="" /></span>
                    <span class="my-profile">My Profile </span>
                </div>
            </div>
            <ul>

                <li *ngFor="let item of routes" [routerLink]="item.path">{{ item.name }}</li>
            </ul>
        </div>
    </div>
</aside>
<section class="section">
    <router-outlet></router-outlet>
</section> -->

<h1>Dashboard Student</h1>