<div class="test-list-container">
    <div class='add-card' *ngIf="showCreateTest" title="Add new test" (click)="createTest()">
        <div class="add-icon">+</div>
    </div>


    <!-- //////////TEST CARD///////// -->
    <!--Red Card-->
<div class="card">
  <div class="additional">
    <div class="user-card">
      <div class="branch center">
        BRANCH
      </div>
      <div class="year center">
        YEAR
      </div>
      <div width="110" height="110" class="center">
        <img src="/assets/images/login.png" alt="">
      </div>
    </div>
    <div class="more-info">
      <h1>Language Processors</h1>
      <table class="table-borderless">
        <tr>
          <td> Start Date : 13-05-2020 </td>
          <td> Start Time : 10:00</td>
        </tr>
        <tr>
          <td> End Date : 13-05-2020</td>
          <td> Test Duration : 60 mins</td>
        </tr>
        <tr>
          <td colspan="2" id="marks"> Total Marks : 60</td>
        </tr>
        <tr>
          <td colspan="2" id="type"> Type : Objective</td>
        </tr>
      </table>
      <div class="testbutton">
        <input type="button" class="starttest" value="Start Test">
      </div>
    </div>
  </div>
  <div class="general">
    <h1>Language Processors</h1>
    <p>Overview of language processors. Programming languages and language processors.
      Kinds of language processors. Procedure oriented and problem oriented programming language.
      Language processing activities.</p>
    <span class="more">Hover for more info -></span>
  </div>
</div>

<!--Green Card-->
<div class="card green">
  <div class="additional">
    <div class="user-card">
      <div class="branch center">
        BRANCH
      </div>
      <div class="year center">
        YEAR
      </div>
      <div width="110" height="110" class="center">
        <img src="/assets/images/login.png" alt="">
      </div>
    </div>
    <div class="more-info">
      <h1>Language Processors</h1>
      <table class="table-borderless">
        <tr>
          <td> Start Date : 13-05-2020 </td>
          <td> Start Time : 10:00</td>
        </tr>
        <tr>
          <td> End Date : 13-05-2020</td>
          <td> Test Duration : 60 mins</td>
        </tr>
        <tr>
          <td colspan="2" id="marks"> Total Marks : 60</td>
        </tr>
        <tr>
          <td colspan="2" id="type"> Type : Objective</td>
        </tr>
      </table>
      <div class="testbutton">
        <input type="button" class="starttest" value="Start Test">
      </div>
    </div>
  </div>
  <div class="general">
    <h1>Language Processors</h1>
    <p>Overview of language processors. Programming languages and language processors.
      Kinds of language processors. Procedure oriented and problem oriented programming language.
      Language processing activities.</p>
    <span class="more">Hover for more info -></span>
  </div>
</div>

<!--blue card-->
<div class="card blue">
  <div class="additional">
    <div class="user-card">
      <div class="branch center">
        BRANCH
      </div>
      <div class="year center">
        YEAR
      </div>
      <div width="110" height="110" class="center">
        <img src="/assets/images/login.png" alt="">
      </div>
    </div>
    <div class="more-info">
      <h1>Language Processors</h1>
      <table class="table-borderless">
        <tr>
          <td> Start Date : 13-05-2020 </td>
          <td> Start Time : 10:00</td>
        </tr>
        <tr>
          <td> End Date : 13-05-2020</td>
          <td> Test Duration : 60 mins</td>
        </tr>
        <tr>
          <td colspan="2" id="marks"> Total Marks : 60</td>
        </tr>
        <tr>
          <td colspan="2" id="type"> Type : Objective</td>
        </tr>
      </table>
      <div class="testbutton">
        <input type="button" class="starttest" value="Start Test">
      </div>
    </div>
  </div>
  <div class="general">
    <h1>Language Processors</h1>
    <p>Overview of language processors. Programming languages and language processors.
      Kinds of language processors. Procedure oriented and problem oriented programming language.
      Language processing activities.</p>
    <span class="more">Hover for more info -></span>
  </div>
</div>

<!-- violet card-->
<div class="card violet">
  <div class="additional">
    <div class="user-card">
      <div class="branch center">
        BRANCH
      </div>
      <div class="year center">
        YEAR
      </div>
      <div width="110" height="110" class="center">
        <img src="/assets/images/login.png" alt="">
      </div>
    </div>
    <div class="more-info">
      <h1>Language Processors</h1>
      <table class="table-borderless">
        <tr>
          <td> Start Date : 13-05-2020 </td>
          <td> Start Time : 10:00</td>
        </tr>
        <tr>
          <td> End Date : 13-05-2020</td>
          <td> Test Duration : 60 mins</td>
        </tr>
        <tr>
          <td colspan="2" id="marks"> Total Marks : 60</td>
        </tr>
        <tr>
          <td colspan="2" id="type"> Type : Objective</td>
        </tr>
      </table>
      <div class="testbutton">
        <input type="button" class="starttest" value="Start Test">
      </div>
    </div>
  </div>
  <div class="general">
    <h1>Language Processors</h1>
    <p>Overview of language processors. Programming languages and language processors.
      Kinds of language processors. Procedure oriented and problem oriented programming language.
      Language processing activities.</p>
    <span class="more">Hover for more info -></span>
  </div>
</div>

<!--orange card-->
<div class="card orange">
  <div class="additional">
    <div class="user-card">
      <div class="branch center">
        BRANCH
      </div>
      <div class="year center">
        YEAR
      </div>
      <div width="110" height="110" class="center">
        <img src="/assets/images/login.png" alt="">
      </div>
    </div>
    <div class="more-info">
      <h1>Language Processors</h1>
      <table class="table-borderless">
        <tr>
          <td> Start Date : 13-05-2020 </td>
          <td> Start Time : 10:00</td>
        </tr>
        <tr>
          <td> End Date : 13-05-2020</td>
          <td> Test Duration : 60 mins</td>
        </tr>
        <tr>
          <td colspan="2" id="marks"> Total Marks : 60</td>
        </tr>
        <tr>
          <td colspan="2" id="type"> Type : Objective</td>
        </tr>
      </table>
      <div class="testbutton">
        <input type="button" class="starttest" value="Start Test">
      </div>
    </div>
  </div>
  <div class="general">
    <h1>Language Processors</h1>
    <p>Overview of language processors. Programming languages and language processors.
      Kinds of language processors. Procedure oriented and problem oriented programming language.
      Language processing activities.</p>
    <span class="more">Hover for more info -></span>
  </div>
</div>






 